.page-taxonomy-term #content {
  flex-basis: 100%;
}

.page-taxonomy-term #page-title.title {
  margin-left: 1.5em;
}

.page-taxonomy-term.page-taxonomy-term-4314755 #page-title.title, .page-taxonomy-term.page-taxonomy-term-4314753 #page-title.title {
  margin-left: 0em;
  text-align: center;
}

.pane-recommended-from-taxonomy {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: -0.25em;
  margin-left: 0.25em;
  background-color: #3d5978;
}

.pane-recommended-from-taxonomy .pane__title {
  margin-left: 1.1em;
  color: whitesmoke;
  text-align: center;
}

.pane-recommended-from-taxonomy .pane-title {
  color: whitesmoke;
  text-align: center;
}

.pane-recommended-from-taxonomy .view .views-field-title {
  padding: 1em;
  padding-left: 0.2em;
}

.pane-recommended-from-taxonomy .view-display-id-recommended_from_taxonomy .view-content {
  -webkit-box-pack: center;
          justify-content: center;
  margin-right: -0.5em;
}

.pane-recommended-from-taxonomy .view-display-id-recommended_from_taxonomy .view-content .views-row {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-basis: 280px;
}

.view.view-taxonomy-term .view-content, .view.view-recommended-from-taxonomy .view-content, .view.view-taxonomy-term-ilya-test .view-content, .view.view-taxonomy-term-eng .view-content, .view.view-display-id-taxonomy_term_display .view-content {
  -webkit-box-pack: center;
          justify-content: center;
}

.view.view-taxonomy-term .view-content .views-row, .view.view-recommended-from-taxonomy .view-content .views-row, .view.view-taxonomy-term-ilya-test .view-content .views-row, .view.view-taxonomy-term-eng .view-content .views-row, .view.view-display-id-taxonomy_term_display .view-content .views-row {
  flex-basis: 280px;
  -webkit-box-flex: 0;
          flex-grow: 0;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.view.view-taxonomy-term .view-content .views-row .views-field-title, .view.view-recommended-from-taxonomy .view-content .views-row .views-field-title, .view.view-taxonomy-term-ilya-test .view-content .views-row .views-field-title, .view.view-taxonomy-term-eng .view-content .views-row .views-field-title, .view.view-display-id-taxonomy_term_display .view-content .views-row .views-field-title {
  padding: 1em;
  padding-left: 0.2em;
}

.view.view-taxonomy-term .view-content .views-row .views-field-field-image, .view.view-recommended-from-taxonomy .view-content .views-row .views-field-field-image, .view.view-taxonomy-term-ilya-test .view-content .views-row .views-field-field-image, .view.view-taxonomy-term-eng .view-content .views-row .views-field-field-image, .view.view-display-id-taxonomy_term_display .view-content .views-row .views-field-field-image {
  width: 100%;
}

.view-taxonomy-listing {
  padding: 0em;
  margin: 0 -1em 0 0em;
}

.view-taxonomy-listing .view-content {
  margin-right: 0em;
}

.view-recommended-from-taxonomy {
  margin-right: 0em;
}

.view-recommended-from-taxonomy .view-content {
  margin-right: -0.5em;
}

#taxonomy-recommended-items {
  padding: 1em;
  background: linear-gradient(to top, #2c4056, #3d5978);
  margin: 0em -1em 2em -1em;
}

/*# sourceMappingURL=taxonomy-listing.css.map */
