.fp-media-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .view-front-page-two-main .views-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.view-front-page-two-main .view-content, .view-front-page-media-first .view-content, .view-display-id-front_page_two_main .view-content {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}

.view-front-page-two-main .view-content .views-row, .view-front-page-media-first .view-content .views-row, .view-display-id-front_page_two_main .view-content .views-row {
  flex-basis: 250px;
}

.view-front-page-two-main .view-content .views-row .itemLink, .view-front-page-media-first .view-content .views-row .itemLink, .view-display-id-front_page_two_main .view-content .views-row .itemLink {
  color: white;
}

.view-front-page-two-main .view-content .views-row .itemWrapper, .view-front-page-media-first .view-content .views-row .itemWrapper, .view-display-id-front_page_two_main .view-content .views-row .itemWrapper {
  position: relative;
  height: 22em;
  background-position: center;
  background-size: cover;
  transition: all 0.2s;
}

.view-front-page-two-main .view-content .views-row .itemTitle, .view-front-page-media-first .view-content .views-row .itemTitle, .view-display-id-front_page_two_main .view-content .views-row .itemTitle {
  position: absolute;
  bottom: 0rem;
  left: 1em;
  right: 1rem;
  /* margin: 0.5em; */
  line-height: normal;
  pointer-events: none;
}

.view-front-page-two-main .view-content .views-row .itemTitle .itemTitleText, .view-front-page-media-first .view-content .views-row .itemTitle .itemTitleText, .view-display-id-front_page_two_main .view-content .views-row .itemTitle .itemTitleText {
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
  font-weight: bold;
}

.view-front-page-two-main .view-content .views-row .fp_categoryLink, .view-front-page-media-first .view-content .views-row .fp_categoryLink, .view-display-id-front_page_two_main .view-content .views-row .fp_categoryLink {
  display: table;
  text-decoration: none;
  background-color: #ef5223;
  color: white;
  font-size: 0.7em;
  margin: 1em 0;
  padding: 0 0.5em;
  pointer-events: initial;
}

.view-front-page-two-main .view-content .views-row .fp_categoryLink:hover, .view-front-page-media-first .view-content .views-row .fp_categoryLink:hover, .view-display-id-front_page_two_main .view-content .views-row .fp_categoryLink:hover {
  color: white;
  text-decoration: underline;
}

.view-front-page-two-main, .view-display-id-front_page_two_main {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: -0.5em;
}

.view-front-page-two-main .views-row, .view-display-id-front_page_two_main .views-row {
  margin: 0.5em !important;
  margin-top: 1em !important;
}

.view-front-page-two-main a.fp_categoryLink, .view-display-id-front_page_two_main a.fp_categoryLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 0.5em;
}

.view-front-page-two-main a.fp_categoryLink:hover, .view-display-id-front_page_two_main a.fp_categoryLink:hover {
  text-decoration: underline;
}

.view-display-id-front_page_three_main .views-row {
  flex-basis: 180px !important;
}

.view-display-id-front_page_three_main .views-field-title {
  font-size: 1em !important;
}

.view-front-page-three-main, .view-display-id-front_page_three_main {
  margin: 0.5em;
}

.view-front-page-three-main .views-row, .view-display-id-front_page_three_main .views-row {
  position: relative;
  margin: 0.5em !important;
}

.view-front-page-three-main .views-row .views-field-field-category, .view-display-id-front_page_three_main .views-row .views-field-field-category {
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: #ef5223;
}

@media (max-width: 768px) {
  .view-front-page-three-main .views-row .views-field-field-category, .view-display-id-front_page_three_main .views-row .views-field-field-category {
    display: none;
  }
}

.view-front-page-three-main .views-row .views-field-field-category a, .view-display-id-front_page_three_main .views-row .views-field-field-category a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 0.5em;
}

.view-front-page-three-main .views-row .views-field-field-category a:hover, .view-display-id-front_page_three_main .views-row .views-field-field-category a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .view-front-page-two-main .view-content, .view-display-id-front_page_two_main .view-content {
    display: -webkit-box;
    display: flex;
  }
  .view-front-page-two-main .view-content .views-row:first-child, .view-display-id-front_page_two_main .view-content .views-row:first-child {
    flex-basis: 48%;
  }
  .view-front-page-two-main .view-content .views-row:last-child, .view-display-id-front_page_two_main .view-content .views-row:last-child {
    flex-basis: 48%;
  }
}

/*# sourceMappingURL=front-page.css.map */
