.booked-weather-160x36-city {
  text-align: center;
}

.brandAndToggleDiv {
  height: 4em;
  background-color: whitesmoke;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.5em;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .brandAndToggleDiv {
    display: none;
  }
}

.brandAndToggleDiv .logo {
  display: -webkit-box;
  display: flex;
}

.hot-topics-heading {
  display: -webkit-box;
  display: flex;
  margin: 0 1em 0 0em;
  padding: 0 0.5em;
  color: whitesmoke;
  background-color: #f16c44;
  align-self: stretch;
  -webkit-box-align: center;
          align-items: center;
}

.logo_lang {
  display: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.logo_lang.toggled-on {
  display: inline-block;
  display: block;
}

.logo_lang img {
  height: auto;
  width: 2.5em;
}

.logoAndCompanyName {
  display: -webkit-box;
  display: flex;
}

.logoAndCompanyName img {
  width: 4em;
  height: auto;
}

.logoAndCompanyName a {
  text-decoration: none;
}

.menu li {
  list-style-type: none;
  list-style-image: none;
}

.menu a {
  text-decoration: none;
}

.mobile-search-form {
  display: none;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

.mobile-search-form.toggled-on {
  display: block;
}

.mobile-search-form .form-item-search-block-form {
  margin-bottom: 0.5em;
}

.mobile-search-form .form-item-search-block-form input {
  width: 100%;
}

.mobile-search-form .form-actions {
  text-align: center;
}

.nav-group1-desktop, .nav-group2-desktop {
  display: none;
  padding: 0 2em;
  max-width: 1248px;
}

@media (min-width: 768px) {
  .nav-group1-desktop, .nav-group2-desktop {
    display: -webkit-box;
    display: flex;
  }
}

.nav-group1-desktop .menu, .nav-group2-desktop .menu {
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.nav-group1-desktop .menu li, .nav-group2-desktop .menu li {
  padding: 0.5em;
}

.nav-group1-desktop .menu li:first-child, .nav-group2-desktop .menu li:first-child {
  padding-left: 0;
}

.nav-group1-desktop .menu li:last-child, .nav-group2-desktop .menu li:last-child {
  padding-right: 0;
}

.nav-group1-desktop .menu li a, .nav-group2-desktop .menu li a {
  color: whitesmoke;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
  transition: color 0.2s;
}

.nav-group1-desktop .menu li a:hover, .nav-group2-desktop .menu li a:hover {
  color: #ced9e6;
}

.nav-group1-desktop {
  height: 6em;
  margin: 0 auto;
  background-color: #3d5978;
  -webkit-box-pack: start;
          justify-content: flex-start;
  position: relative;
}

.nav-group1-desktop a {
  font-weight: bold;
  display: -webkit-box;
  display: flex;
}

.nav-group1-desktop .menu {
  margin-left: 2em;
  margin-right: 2em;
  flex-basis: 40%;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.nav-group1-desktop .menu li {
  white-space: nowrap;
}

.nav-group2-desktop {
  height: 3em;
  margin: 0 auto;
  background-color: #4e729a;
  -webkit-box-pack: center;
          justify-content: center;
}

.nav-group2-desktop a {
  display: -webkit-box;
  display: flex;
}

.nav-group-mobile {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.95);
  z-index: 10;
}

@media (min-width: 768px) {
  .nav-group-mobile {
    display: none;
  }
}

.nav-group-mobile.toggled-on {
  overflow: auto;
  height: 100vh;
}

.nav-group-mobile .logo img {
  height: 3em;
}

.nav-group-mobile .menu {
  padding: 1.5rem;
  padding-bottom: 0rem;
  margin: 0;
  display: none;
}

.nav-group-mobile .menu__item {
  padding: 0.5em 0;
}

.nav-group-mobile .menu__item a {
  padding: 1em;
  margin: -1em;
  font-weight: bold;
}

.nav-group-mobile .menu.toggled-on {
  display: block;
}

.secondary_menu_wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: whitesmoke;
  position: relative;
}

.secondary_menu_wrapper > * {
  padding: 0.5em;
}

.secondary_menu_wrapper .toggle_largeScreens {
  padding: 0.25em;
  cursor: pointer;
}

.secondary_menu_wrapper .logo_lang {
  width: 44px;
  height: 44px;
}

.site-brand-header {
  line-height: normal;
  padding: 1em 0.5em;
  color: whitesmoke;
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 0.9em;
}

@media (max-width: 960px) {
  .site-brand-header {
    font-size: 70%;
  }
}

.site-brand-header .company-name {
  font-size: 1.5em;
}

.site-slogan-mobile {
  text-align: center;
  font-size: 0.9em;
  line-height: normal;
}

.site-slogan-mobile .company-name {
  font-weight: bold;
}

.subtext {
  color: #6bb3e3;
}

.toggle {
  width: 1em;
  text-align: center;
  cursor: pointer;
}

.weather-widget {
  display: none;
}

@media (min-width: 1024px) {
  .weather-widget {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
}

/*# sourceMappingURL=navigation.css.map */
