@import 'init/customcolors';
@import 'init/custom-mixins';

.page-taxonomy-term {
  & #content {
    flex-basis: 100%;
  }
  & #page-title.title {
    margin-left: 1.5em;
    // margin-left: 1rem;
  }
}

.pane-recommended-from-taxonomy {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: -0.75em;
  background-color: $ctvblue_darker;
  & .pane__title {
    margin-left: 1.1em;
    color: $ctvwhite;
    text-align: center;
  }
  & .pane-title {
    color: $ctvwhite;
    text-align: center;
  }
  & .view .views-field-title {
    padding: 1em;
    padding-left: 0.2em;
  }
  & .view-display-id-recommended_from_taxonomy {
    & .view-content {
      justify-content: center;
      margin-right: -0.5em;
      & .views-row {
        flex-grow: 0;
        flex-basis: 280px;
      }
    }
  }
}

.view {
  &.view-taxonomy-term, &.view-recommended-from-taxonomy, &.view-taxonomy-term-ilya-test, &.view-taxonomy-term-eng, &.view-display-id-taxonomy_term_display {
    & .view-content {
      justify-content: center;
      // margin-right: -0.5em;
      & .views-row {
        flex-basis: 280px;
        flex-grow: 0;
        @include boxShadow;
        & .views-field-title {
          padding: 1em;
          padding-left: 0.2em;
        }
      }
    }
  }
}
.view-taxonomy-listing {
  padding: 0em;
  margin: 0 0em 0 1em;
  & .view-content {
    margin-right: -0.5em;
  }
}

.view-recommended-from-taxonomy {
  margin-right: 0em;
  & .view-content {
    margin-right: -0.5em;
  }
}

#taxonomy-recommended-items {
  padding: 1em;
  background: linear-gradient(to top, darken($ctvblue, 20%), darken($ctvblue, 10%));
  margin: 0em -1em 2em -1em;
}
