@import 'init/customcolors';

#footer {
  margin-left: -1em;
  margin-right: -1em;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  // margin: -1em;
  margin-top: 0.5em;
  padding: 1em;

  & .main-menu-footer {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 0;
    border-bottom: 1px solid #444;
    flex-wrap: wrap;
    // @media (max-width: 500px) {
    //   flex-direction: column;
    //   align-items: center;
    // }
    // &:first-child {
    //   padding-bottom: 0;
    // }
    &.secondary-footer-menu {
      border-bottom: none;
      padding-top: 1em;
    }
    & .menu {
      display: flex;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
      & li {
        padding: 0.5em;

      }
      & a {
        color: lightgrey;
        font-size: 0.95em;
        &:hover {
          color: grey;
          text-decoration: none;
        }
      }
    }
  }
}
.logo-and-branding {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.logo_largeScreens_footer {
  margin: 0.5em auto;
  display: flex;
  align-items: center;
  & img {
    width: 2.5em;
  }
}

.site-logo-footer {
  position: relative;
}

.other-footer-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: #888;
  & > * {
    flex-basis: 300px;
    flex-grow: 1;
    justify-content: center;
  }
  & .publishing-rules {
    line-height: normal;
    font-size: 0.8em;
    text-align: center;
  }
  & .site-brand-footer {
    line-height: normal;
    padding: 1em 0.5em;
    color: #888;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    text-align: left;
    & .subtext {
      color: #888;
    }
    & .company-name {
      font-size: 1.5em;
    }
  }
  & .other-footer-links-wrapper {

  }
  & .other-footer-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }
    & a {
      color: lightgrey;
      font-size: 0.85em;
      &:hover {
        color: grey;
        text-decoration: none;
      }
    }
  }
}
.site-author {
  text-align: center;
  color: #888;
  font-size: .8em;
  a {
    color: #999;
    text-decoration: underline;
  }
}
.sitemap-nav-secondary-menu {
  flex-basis: 100%;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid lightgrey;
  & .menu {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    & li {
      padding: 0.5em;
    }
    & a {
      font-size: 0.95em;
      &:hover {
        color: $ctvorange;
        text-decoration: none;
      }
    }
  }
}
