@import 'init/customcolors';
@import 'init/custom-mixins';

.fp_categoryLink {
  display: table;
  text-decoration: none;
  background-color: #ef5223;
  color: white;
  font-size: 0.7em;
  margin: 1em 0;
  padding: 0 0.5em;
  pointer-events: initial;
  line-height: normal;
  &:hover {
    color: white;
  }
}

.fp_categoryLinkText {

}

#fp-other-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

#front-page-content-promoted {
  width: 100%;
}

.itemTitle {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
  line-height: normal;
}
.itemTitleText {
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
  font-weight: bold;
}

.node-type-home-page #main {
  flex-direction: column;
  border-bottom: none;
  margin-bottom: -0.5em;
}

.not-logged-in {
  & .tabs {
    display: none;
  }
}

.region-fp-five-main-items {
  background: white;
  @include boxShadow;
  // margin: 0em 0 2em;
  & .block {
    margin: 0em 0.5em;
  }
}

.region-fp-category {
  display: flex;
  flex-direction: column;
  & > * {
    flex-grow: 1;
  }
}

.region-fp-three-submain-sections {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  margin-left: -0.5em;
  margin-right: -0.5em;
  // padding: 0 1em;
  > * {
    flex-basis: 300px;
    flex-grow: 1;
    // padding-top: 1em;
  }
  // &:first-child {
  //   padding-right: 1em;
  // }
  // &:nth-child(2) {
  //   padding-right: 1em;
  // }
}

.region-fp-media {
  background-color: #555;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    margin-left: -1em;
    margin-right: -1em;
    //padding-left: 0;
    //padding-right: 0;
  }
  @media (min-width: 768px) {
    margin-left: -1em;
    margin-right: -1em;
  }
  & .block__title {
    color: $ctvwhite;
    margin-left: 1rem;
  }
  & .itemWrapper {
    background-position: center;
    background-size: cover;
    height: 28em;
  }
  & .fp-media-header {
    margin: 0 0 1em 0;
    color: $greyHeaders;
    text-align: center;
    font-weight: bold;
  }
  & .fp-media-wrapper {
    & .block {
      background-color: transparent;
    }
  }
  & .block-views {
    background-color: transparent;
    box-shadow: none;
    & .views-row {
      background-color: transparent;
      & a {
        color: $ctvwhite;
      }
    }
  }
  & .block {
    margin: 0;
    flex-grow: 1;
    &:first-child {
      flex-basis: 300px;
      padding: 0;
      margin: 0.5em;
      margin-right: 0em;
      margin-left: 0em;
      & .view {
        margin-right: -1em;
        margin-left: 1em;
      }
      & .view-content {
        margin-right: 1em;
      }
      & .views-row {
        margin-right: 1em;
      }
    }
    &:last-child {
      flex-basis: 450px;
      flex-grow: 1;
      padding: 0;
      margin: 1em;
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 0;
      @media (min-width: 768px) {
        flex-grow: 0;
      }
      & .view {
        margin-right: -1em;
        margin-left: 0em;
      }
      & .view-content {
        justify-content: center;
      }
      & .views-row {
        flex-basis: 150px;
        margin-right: 1em;
        flex-grow: 0;
        @media (min-width: 768px) {
          flex-grow: 1;
        }
      }
    }
  }
}

#fp-other-content-1 {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex-grow: 1;
  }
  & #block-views-belarus-tourism-news-default {
    flex-basis: 55%;
    & a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  & #block-views-front-page-famous-belarusians-default {
    flex-basis: 400px;
  }
}

#fp-other-content-2 {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex-grow: 1;
  }
  & #block-views-front-page-information-technologies-block {
    flex-basis: 400px;
  }
  & #block-views-front-page-cat-tourism-block {

    flex-basis: 55%;
    & a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}



.region-content-recommended {
  // display: flex;
  // flex-wrap: wrap;
  // & > * {
  //   flex-grow: 1;
  //   flex-basis: 250px;
  //   margin-bottom: 0em;
  // }
}

#latestFromBelarusTabContent .block-views {
  margin: 0.5em 0.1em;
}

#recommended-content-wrapper {
  display: flex;
}
.recommended-content-wrapper {
  display: flex;
  margin: 0 2.4em!important;
  & > .inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: -1em;
    margin-right: -1em;
    .page-node & {
      margin-right: -0.6em!important;
    }
    & .panels-flexible-column-first {
      flex-basis: 65%;
      margin-right: -1em;
      flex-grow: 1;
      margin-right: -0.5em;
      margin-left: 0.5em;
      & > .inside {
        margin: 0 0.5em;
        // margin-right: -2em;
        // margin-left: 1.25em;
      }
    }
    & .panels-flexible-column-last {
      flex-basis: 300px;
      flex-grow: 1;
      margin-right: 0em;
      margin-left: 0em;
      & > .inside {
        // margin: 0 0.5em;
        // margin-right: 0.25em;
        // margin-left: -1em;
      }
      & .block-views {
        margin-bottom: 0.5em;
      }
    }
  }
}

#sidebar-first, #sidebar-recommended, #fp-sidebar {
  display: none;
}

.sidebar-first {
  & > .inside {
    & .block-views {
      margin-left: 0;
      margin-right: 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

#sidebar-second {
  display: none;
}

#sidebar-recommended {
  & .block:first-of-type {
    margin-top: 1.5em;
  }
}

.recommended-content-wrapper, .region-related-content, .main {
  margin: 0 auto!important;
  width: 98%;
  @media (min-width: 960px) {
    width: 85%;
  }
  .page-taxonomy & {
    width: 94%;
  }
}

.region-related-content {
  & > .inside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1em;
    flex-direction: column;
    & > div {
      width: 98%;
    }
  }
}

// @media (min-width: 768px) {
//   #content, #content-recommended, #fp-content-by-category {
//     flex-basis: 65%;
//   }
//   #fp-sidebar {
//     display: initial;
//     margin: 0!important;
//     padding: 0 0 0 1em;
//     flex-basis: 35%;
//   }
//   #sidebar-first, #fp-sidebar {
//     display: initial;
//     margin: 0 1em 0 1em;
//     padding: 0 0 0 1em;
//     flex-basis: 35%;
//   }
//   #sidebar-recommended {
//     display: initial;
//     margin: 0 1em 0 1em;
//     flex-basis: 35%;
//     padding: 0;
//   }
//   #sidebar-second {
//     display: initial;
//   }
// }

// fixes for ie 11
#front-page-content-promoted {
  height: 100%;
}
#fp-other-content-wrapper {
  height: 100%;
  & #fp-other-content-1 {
    height: 100%;
  }
}
