@import 'init/customcolors';

.region-sitemap-nav {
    display: none;
}

@media (min-width: 768px) {
  .region-sitemap-nav.toggled-on {
    display: flex;
    // flex-direction: column;
    align-items: center;
    position: fixed;
    align-self: stretch;
    background-color: transparentize($ctvwhite, 0.05);
    overflow: scroll; // for all browsers
    //overflow: overlay; // for Chrome, Opera and Safari (better appearance)
    padding: 5em 5em 10em;
    @media (max-width: 1024px) {
      padding: 1em 1em;
    }
    width: 100%;
    height: 100vh;
    z-index: 10;
    flex-wrap: wrap;
    justify-content: space-around;
    & .form-actions {
      background-color: transparent;
      border: none;
    }
    & #search-block-form--2 {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      & > div {
        width: 20em!important;
        & input[name="search_block_form"] {
          width: 100%;
          height: auto;
        }
      }
    }
    & .pane-menu-menu-full-site-navigation-menu-e {
      width: 75%;
      & .menu {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        flex-wrap: wrap;
        & > .menu__item.is-expanded {
          margin: 1em;
          flex-basis: 25%;
          & .menu {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    & .pane-menu-menu-full-site-navigation-menu {
      flex-basis: 33.333333%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
    }
    & ul, li {
      list-style-type: none;
      list-style-image: none;
    }
    & .block__title {
      display: none;
    }
    .menu__item.is-expanded {
      > .menu__link {
        // font-size: 1.4em;
        // font-weight: bold;
        // border-bottom: 1px solid $ctvorange;
        // // color: $ctvtext;
        // text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        border-bottom: 1px solid #ef5223;
        text-decoration: none;
        color: $ctvblue_darker;
      }
      .menu {
        padding: 0em;
        margin-top: 1em;
        & a {
          // color: $ctvwhite;
          text-decoration: none;
          transition: color 0.2s;
          &:hover {
            color: $ctvorange;
          }
        }
      }
    }

    & .toggle_largeScreens {
      position: absolute;
      top: 1em;
      color: $ctvblue;
      right: 1em;
      cursor: pointer;
      transition: color 0.2s;
      &:hover {
        color: $ctvorange;
      }
    }
  }
  .searchBox {
    & .search-form {
      display: flex;
      justify-content: center;
      & .form-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        & input {
          margin: 0 auto;
        }
        & .form-item {
          display: flex;
          flex-direction: column;

          & label {
            display: none;
          }

        }
      }
    }
  }
}
