.region-sitemap-nav {
  display: none;
}

@media (min-width: 768px) {
  .region-sitemap-nav.toggled-on {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    position: fixed;
    align-self: stretch;
    background-color: rgba(245, 245, 245, 0.95);
    overflow: scroll;
    padding: 1em 10em 5em;
    width: 100%;
    height: 100vh;
    z-index: 10;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .region-sitemap-nav.toggled-on {
    padding: 1em 1em;
  }
}

@media (min-width: 768px) {
  .region-sitemap-nav.toggled-on .form-actions {
    background-color: transparent;
    border: none;
  }
  .region-sitemap-nav.toggled-on #search-block-form--2 {
    flex-basis: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
  }
  .region-sitemap-nav.toggled-on #search-block-form--2 > div {
    width: 20em !important;
  }
  .region-sitemap-nav.toggled-on #search-block-form--2 > div input[name="search_block_form"] {
    width: 100%;
    height: auto;
  }
  .region-sitemap-nav.toggled-on .pane-menu-menu-full-site-navigation-menu {
    flex-basis: 33.333333%;
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .region-sitemap-nav.toggled-on ul, .region-sitemap-nav.toggled-on li {
    list-style-type: none;
    list-style-image: none;
  }
  .region-sitemap-nav.toggled-on .block__title {
    display: none;
  }
  .region-sitemap-nav.toggled-on .menu__item.is-expanded > a {
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #ef5223;
    text-decoration: none;
  }
  .region-sitemap-nav.toggled-on .menu__item.is-expanded .menu {
    padding: 0em;
    margin-top: 1em;
  }
  .region-sitemap-nav.toggled-on .menu__item.is-expanded .menu a {
    text-decoration: none;
    transition: color 0.2s;
  }
  .region-sitemap-nav.toggled-on .menu__item.is-expanded .menu a:hover {
    color: #ef5223;
  }
  .region-sitemap-nav.toggled-on .toggle_largeScreens {
    position: absolute;
    top: 1em;
    color: #4e729a;
    right: 1em;
    cursor: pointer;
    transition: color 0.2s;
  }
  .region-sitemap-nav.toggled-on .toggle_largeScreens:hover {
    color: #ef5223;
  }
  .searchBox .search-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .searchBox .search-form .form-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .searchBox .search-form .form-wrapper input {
    margin: 0 auto;
  }
  .searchBox .search-form .form-wrapper .form-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .searchBox .search-form .form-wrapper .form-item label {
    display: none;
  }
}

/*# sourceMappingURL=region--sitemap-nav.css.map */
