.fp_categoryLink {
  display: table;
  text-decoration: none;
  background-color: #ef5223;
  color: white;
  font-size: 0.7em;
  margin: 1em 0;
  padding: 0 0.5em;
  pointer-events: initial;
  line-height: normal;
}

.fp_categoryLink:hover {
  color: white;
}

#fp-other-content-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

#front-page-content-promoted {
  width: 100%;
}

.itemTitle {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
  line-height: normal;
}

.itemTitleText {
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
  font-weight: bold;
}

.node-type-home-page #main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-bottom: none;
  margin-bottom: -0.5em;
}

.not-logged-in .tabs {
  display: none;
}

.region-fp-five-main-items {
  background: white;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.region-fp-five-main-items .block {
  margin: 0em 0.5em;
}

.region-fp-category {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.region-fp-category > * {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.region-fp-three-submain-sections {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.region-fp-three-submain-sections > * {
  flex-basis: 300px;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.region-fp-media {
  background-color: #555;
  padding: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .region-fp-media {
    margin-left: -1em;
    margin-right: -1em;
  }
}

@media (min-width: 768px) {
  .region-fp-media {
    margin-left: -1em;
    margin-right: -1em;
  }
}

.region-fp-media .block__title {
  color: whitesmoke;
  margin-left: 1rem;
}

.region-fp-media .itemWrapper {
  background-position: center;
  background-size: cover;
  height: 28em;
}

.region-fp-media .fp-media-header {
  margin: 0 0 1em 0;
  color: #555;
  text-align: center;
  font-weight: bold;
}

.region-fp-media .fp-media-wrapper .block {
  background-color: transparent;
}

.region-fp-media .block-views {
  background-color: transparent;
  box-shadow: none;
}

.region-fp-media .block-views .views-row {
  background-color: transparent;
}

.region-fp-media .block-views .views-row a {
  color: whitesmoke;
}

.region-fp-media .block {
  margin: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.region-fp-media .block:first-child {
  flex-basis: 45%;
  padding: 0;
  margin: 0.5em;
  margin-right: 0em;
  margin-left: 0em;
}

.region-fp-media .block:first-child .view {
  margin-right: -1em;
  margin-left: 1em;
}

.region-fp-media .block:first-child .view-content {
  margin-right: 1em;
}

.region-fp-media .block:first-child .views-row {
  margin-right: 1em;
}

.region-fp-media .block:last-child {
  flex-basis: 450px;
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 0;
  margin: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .region-fp-media .block:last-child {
    -webkit-box-flex: 0;
            flex-grow: 0;
  }
}

.region-fp-media .block:last-child .view {
  margin-right: -1em;
  margin-left: 0em;
}

.region-fp-media .block:last-child .view-content {
  -webkit-box-pack: center;
          justify-content: center;
}

.region-fp-media .block:last-child .views-row {
  flex-basis: 150px;
  margin-right: 1em;
  -webkit-box-flex: 0;
          flex-grow: 0;
}

@media (min-width: 768px) {
  .region-fp-media .block:last-child .views-row {
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
}

#fp-other-content-1 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

#fp-other-content-1 > * {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

#fp-other-content-1 #block-views-eng-new-front-page-9-tourism {
  flex-basis: 55%;
}

#fp-other-content-1 #block-views-eng-new-front-page-9-tourism a:hover {
  text-decoration: none;
}

#fp-other-content-1 #block-views-eng-new-front-page-5-famous-belarusians {
  flex-basis: 400px;
}

#fp-other-content-2 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

#fp-other-content-2 > * {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

#fp-other-content-2 #block-views-eng-new-front-page-8-information-technologies {
  flex-basis: 400px;
}

#fp-other-content-2 #block-views-eng-new-front-page-6-sights {
  flex-basis: 55%;
}

#fp-other-content-2 #block-views-eng-new-front-page-6-sights a:hover {
  text-decoration: none;
}

#latestFromBelarusTabContent .block-views {
  margin: 0.5em 0.1em;
}

#recommended-content-wrapper {
  display: -webkit-box;
  display: flex;
}

.recommended-content-wrapper {
  display: -webkit-box;
  display: flex;
  margin: 0 2.4em !important;
}

.recommended-content-wrapper > .inside {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  margin-left: -1em;
  margin-right: -1em;
}

.page-node .recommended-content-wrapper > .inside {
  margin-right: -0.6em !important;
}

.recommended-content-wrapper > .inside .panels-flexible-column-first {
  flex-basis: 65%;
  margin-right: -1em;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-right: -0.5em;
  margin-left: 0.5em;
}

.recommended-content-wrapper > .inside .panels-flexible-column-first > .inside {
  margin: 0 0.5em;
}

.recommended-content-wrapper > .inside .panels-flexible-column-last {
  flex-basis: 300px;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-right: 0em;
  margin-left: 0em;
}

.recommended-content-wrapper > .inside .panels-flexible-column-last .block-views {
  margin-bottom: 0.5em;
}

#sidebar-first, #sidebar-recommended, #fp-sidebar {
  display: none;
}

.sidebar-first {
  position: relative;
}

.sidebar-first > .inside .block-views {
  margin-left: 0;
  margin-right: 0;
}

.sidebar-first > .inside .block-views:first-child {
  margin-top: 0;
}

#sidebar-second {
  display: none;
}

#sidebar-recommended .block:first-of-type {
  margin-top: 1.5em;
}

.recommended-content-wrapper, .region-related-content, .main {
  margin: 0 auto !important;
  width: 98%;
}

@media (min-width: 960px) {
  .recommended-content-wrapper, .region-related-content, .main {
    width: 85%;
  }
}

.page-taxonomy .recommended-content-wrapper, .page-taxonomy .region-related-content, .page-taxonomy .main {
  width: 94%;
}

.region-related-content > .inside {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 0 -1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.region-related-content > .inside > div {
  width: 98%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #front-page-content-promoted {
    height: 100%;
  }
  #fp-other-content-wrapper {
    height: 100%;
    width: 110%;
  }
  #fp-other-content-wrapper #fp-other-content-1 {
    height: 100%;
  }
  #fp-other-content-wrapper #fp-other-content-2 {
    height: 130%;
  }
  .pane-ilya-center-eng {
    width: 100%;
  }
  .recommended-content-wrapper > .inside {
    width: 110%;
  }
  .region-related-content > div > div {
    height: 100%;
  }
}

/*# sourceMappingURL=regions.css.map */
