@import 'init/customcolors';
@import 'init/custom-mixins';

.section {
    margin-bottom: -0.5em!important;
}

#page-wrapper {
  margin: 5em 0em 0;
}

#page {
  color: $ctvtext;
}

#main-wrapper {
  margin: 0 1em;
  background-color: $ctvmainwrapper;
}

@media (min-width: 768px) {
  #page-wrapper {
    margin:inherit;
  }
}
