@import 'init/customcolors';

// reset ul and li paddings and margins
.links {
  padding: 0.5em;
  margin: 0;
  & a {
    padding: 0.5em;
    transition: color 0.2s;
    &:hover {
      background-color: darken($ctvwhite, 5%);
      color: color(link-hover);
    }
  }
  &.login-menu {
    padding: 0;
  }
}

.logged-in {
  & .login-menu-hider-link {
    display: none;
    // @media (min-width: 768px) {
    //   display: initial;
    // }
  }
}

.mainAndSecondaryMenuWrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.nav-group2 {
  display: none;
}
.nav-group {
  background-color: white;
  // overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  &.toggled-on {
    & .logo_lang {
      position: relative;
      display: block;
      text-align: center;
      width: 3em;
    }
  }
  & .nav-menu-div {
    position: absolute;
    z-index: 1;
    background: white;
    width: 100%;
    // overflow: auto;
    display: none;
    &.toggled-on {
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 4em);
      overflow-y: auto;
      position: fixed;
      z-index: 99;
    }
  }
  & .brandAndToggleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient($ctvwhite, transparentize(white, 0.05));
  }
  & .toggle {
    display: block;
    padding: 0.5em;
    color: grey;
    cursor: pointer;
    text-shadow: 1px 0.5px white;
  }
  & .main-menu, & .login-menu {

    & li {
      list-style-type: none;
    }
  }
  & .main-menu {
    & li {
      margin-top: 0.2em;
    }
  }
  & a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: $ctvblue;
    &.logo {
      margin-left: 1em;
      & img {
        width: 40px;
        display: flex;
      }
    }
  }
}
a.logo_largeScreens {
  display: none;
}
#name-and-slogan {
  display: none;
}

.secondary_menu_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  > * {
    margin: 0.5em;
    //margin-left: 0;
  }
  & .toggle_largeScreens {
    display: none;
  }
}


@media (min-width: 768px) {

  .links {
    padding: 0;
    margin: 0.5em;
    & a {
      transition: color 0.2s;
      &:hover {
        background-color: transparent;
        // border-bottom: 3px solid $ctvorange;
      }
    }
  }


  a.logo_largeScreens {
    display: flex;
    position: relative;
    /* top: 0; */
    /* background-color: white; */
    /* left: 1em; */
    margin: 0 0 0 2em;
    width: 6em;
    pointer-events: none;
    // &:active:not(.button) {
    //   background-color: white;
    // }
    & img {
      width: 91px;
      background-color: white;
      padding: 0.5em;
      margin: 0 auto;
      position: absolute;
      pointer-events: auto;
      display: flex;
      /* box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.3); */
      align-self: center;
      height: 102px;
      border-radius: 3px;
    }
  }

  // ie 11
  _:-ms-fullscreen, :root a.logo_largeScreens {
    align-self: flex-start; 
  }

  div#navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav-group {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
    // background-color: $ctvblue;
    & .logo-div {

    }
    & .nav-menu-div {
      // max-width: 1024px;
      @supports (margin: auto) {
        margin: 0 auto;
      }
      position: relative;
      display: flex;
      max-width: 1024px;
      height: 6em;
      justify-content: space-between;
      //align-items: center;
      align-items: stretch;
      background-color: $ctvblue_darker;
      //padding-left: 7em;
      & .main-menu {
        // padding-left: 7em;
      }
      & .main-menu, & .main-menu-2/*, & .login-menu*/ {
        display: flex;
        list-style-type: none;
        & li {
          & a {
            color: white;
            // font-weight: 400;
            text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
            transition: color 0.2s;
            &:hover {
              color: darken($ctvblue_lighter, 10%);
            }
          }
        }
      }
      & .login-menu-hider {
        // display: initial;
        cursor: pointer;
        color: white;
        position: relative;
        & .login-menu {
          display: none;
          flex-direction: column;
          position: absolute;
          right: -1em;
          top: 0;
          margin-top: 2em;
          font-family: Roboto;
          font-size: 0.5em;
          width: max-content;
          background-color: $ctvblue;
          padding: 0.5em;
          margin-top: calc(28px + 1em);
          box-shadow: 0 5px 3px 2px rgba(0, 0, 0, 0.11);
          &.toggled-on {
            display: initial;
          }
        }
      }

    }

    & .toggle {
      display: none;
    }
    & .brandAndToggleDiv {
      display: none;
    }
  }
  .login-menu {
    display: none;
    &.toggled-on {
      display: initial;
    }
    & li {
      & a {
        color: white;
        // font-weight: 400;
        text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
        transition: color 0.2s;
        &:hover {
          color: darken($ctvblue_lighter, 10%);
        }
      }
    }
  }

  .nav-group2 {
    background-color: transparent;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    & .nav-menu-div {
      width: 1024px;
      max-width: 1024px;
      //margin: 0 auto;
      //margin: 0 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $ctvblue;
      & .main-menu-2 {
        list-style-type: none;
        display: flex;
        & li {

          & a {
            color: $ctvwhite;
            // font-weight: 400;
            text-decoration: none;
            text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
            transition: color 0.2s;
            &:hover {
              color: $ctvblue_lighter;
              text-decoration: underline;
            }
          }
        }
      }
      & .hot-topics-heading {
        display: flex;
        margin: 0 0em 0 1em;
        padding: 0 0.5em;
        color: white;
        background-color: lighten($ctvorange, 7%);
        // text-shadow: 0.5px 0.5px #43413e;
        align-self: stretch;
        align-items: center;
      }
    }
  }
  .nav-group, .nav-group2 {
    & .nav-menu-div {
      // padding-left: 7em;
    }
  }

  & .secondary_menu_wrapper {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: 2em;
    justify-content: space-between;
    // background-color: $ctvblue_darker;
    & > * {
      margin: 0 0.3em;
    }
    & .toggle_largeScreens {
      color: white;
      // margin: 0.25em 0.5em;
      cursor: pointer;
      display: initial;
      margin-right: 0;
    }
    & .logo_lang {
      background-color: transparent;
      margin: 0 0.2em;
      &:active {
        background-color: transparent;
      }
      & img {
        width: 2.5em;
        display: flex;
      }
    }
  }
}






// global hide visually hidden items
// span.element-invisible, .visually-hidden {
//   display: none;
// }
