@import 'init/customcolors';
@import 'init/custom-mixins';

.brandAndToggleDiv {
  @media (min-width: 768px) {
    display: none;
  }
  height: 4em;
  background-color: $ctvwhite;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0.5em;
  & .logo {
    display: flex;
  }
  @include boxShadow;
}

.hot-topics-heading {
  display: flex;
  margin: 0 1em 0 1em;
  padding: 0 0.5em;
  color: $ctvwhite;
  background-color: lighten($ctvorange, 7%);
  // background-color: $ctvorange;
  // text-shadow: 0.5px 0.5px #43413e;
  align-self: stretch;
  align-items: center;
}

.logo_lang {
  display::none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  &.toggled-on {
    display: inline-block;
    display: block;
    text-align: center;
  }
  & img {
    height: auto;
    width: 2.5em;
  }
}

.logoAndCompanyName {
  display: flex;
  & img {
    width: 4em;
    height: auto;
  }
  & a {
    text-decoration: none;
  }
}

.menu {
  & li {
    list-style-type: none;
    list-style-image: none;
  }
  & a {
    text-decoration: none;
  }
}

.mobile-search-form {
  display::none;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  &.toggled-on {
    display: block;
  }
  & .form-item-search-block-form {
    margin-bottom: 0.5em;
    & input {
      width: 100%;
    }
  }
  & .form-actions {
    text-align: center;
  }
}

.nav-group1-desktop, .nav-group2-desktop {
  display: none;
  padding: 0 2em;
  max-width: 1248px;
  @media (min-width: 768px) {
    display: flex;
  }
  .menu {
    padding: 0;
    display: flex;
    align-items: center;
    & li {
      padding: 0.5em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      & a {
        color: $ctvwhite;
        text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
        transition: color 0.2s;
        &:hover {
          color: darken($ctvblue_lighter, 10%);
        }
      }
    }
  }
}

.nav-group1-desktop {
  height: 6em;
  margin: 0 auto;
  background-color: $ctvblue_darker;
  justify-content: space-between;
  & a {
    font-weight: bold;
    display: flex;
  }
}
.nav-group2-desktop {
  height: 3em;
  margin: 0 auto;
  background-color: $ctvblue;
  & a {
    display: flex;
  }
}

.nav-group-mobile {
  @media (min-width: 768px) {
    display: none;
  }
  @include boxShadow;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparentize($ctvwhite, 0.05);
  & .logo {
    & img {
      height: 3em;
    }
  }
  & .menu {
    padding: 1.5rem;
    padding-bottom: 0rem;
    margin: 0;
    display: none;
    &__item {
      padding: 0.5em 0;
      & a {
        padding: 1em;
        margin: -1em;
        font-weight: bold;
      }
    }
    &.toggled-on {
      display: block;
    }
  }
}

.site-brand-header {
  line-height: normal;
  padding: 1em 0.5em;
  color: $ctvwhite;
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
  & .company-name {
    font-size: 1.5em;
  }
}

.site-slogan-mobile {
  text-align: center;
  font-size: 0.9em;
  line-height: normal;
  & .company-name {
    font-weight: bold;
  }
}

.toggle {
  width: 1em;
  text-align: center;
  cursor: pointer;
}

.weather-widget {
  display: none;
  @media (min-width: 960px) {
    display: flex;
    align-items: center;
  }
}
