@import 'init/customcolors';
@import 'init/custom-mixins';


.booked-weather-160x36-city {
    text-align: center;
}

.brandAndToggleDiv {
  @media (min-width: 768px) {
    display: none;
  }
  height: 4em;
  background-color: $ctvwhite;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0.5em;
  & .logo {
    display: flex;
  }
  @include boxShadow;
}

.hot-topics-heading {
  display: flex;
  margin: 0 1em 0 0em;
  padding: 0 0.5em;
  color: $ctvwhite;
  background-color: lighten($ctvorange, 7%);
  // background-color: $ctvorange;
  // text-shadow: 0.5px 0.5px #43413e;
  align-self: stretch;
  align-items: center;
}

.logo_lang {
  display::none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  &.toggled-on {
    display: inline-block;
    display: block;
    // text-align: center;
  }
  & img {
    height: auto;
    width: 2.5em;
  }
}

.logoAndCompanyName {
  display: flex;
  // white-space: nowrap;
  & img {
    width: 4em;
    height: auto;
    height: 100%;
  }
  & a {
    text-decoration: none;
  }
}

.menu {
  & li {
    list-style-type: none;
    list-style-image: none;
  }
  & a {
    text-decoration: none;
  }
}

.mobile-search-form {
  display::none;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  &.toggled-on {
    display: block;
  }
  & .form-item-search-block-form {
    margin-bottom: 0.5em;
    & input {
      width: 100%;
    }
  }
  & .form-actions {
    text-align: center;
  }
}

.nav-group1-desktop, .nav-group2-desktop {
  display: none;
  padding: 0 2em;
  max-width: 1248px;
  @media (min-width: 768px) {
    display: flex;
  }
  .menu {
    padding: 0;
    display: flex;
    align-items: center;
    & li {
      padding: 0.5em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      & a {
        color: $ctvwhite;
        text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
        transition: color 0.2s;
        &:hover {
          color: darken($ctvblue_lighter, 10%);
        }
      }
    }
  }
}

.nav-group1-desktop {
  height: 5em;
  margin: 0 auto;
  background-color: $ctvblue_darker;
  justify-content: flex-start;
  position: relative;
  transition: position 1s;
  // props for position fixed
  left: 0;
  right: 0;
  z-index: 5;
  & a {
    font-weight: bold;
    display: flex;
  }
  & > .menu {
    margin-left: 2em;
    margin-right: 2em;
    flex-basis: 40%;
    flex-grow: 1;
    & > li {
      & > a {
        white-space: nowrap;
      }
    }
  }
}
.nav-group2-desktop {
  height: 3em;
  margin: 0 auto;
  background-color: $ctvblue;
  justify-content: center;
  & a {
    display: flex;
  }
}

.nav-group-mobile {
  @media (min-width: 768px) {
    display: none;
  }
  @include boxShadow;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparentize($ctvwhite, 0.05);
  z-index: 10;
  & .form-item-search-block-form {
    & input[name="search_block_form"] {
      width: 100%;
      height: auto;
    }
  }
  & .form-actions {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  &.toggled-on {
    // overflow: scroll;
    overflow: auto;
    height: 100vh;
  }
  & .logo {
    & img {
      height: 3em;
    }
  }
  & .menu {
    padding: 1.5rem;
    padding-bottom: 0rem;
    margin: 0;
    display: none;
    &__item {
      padding: 0.5em 0;
      & a {
        padding: 1em;
        margin: -1em;
        font-weight: bold;
      }
    }
    &.toggled-on {
      display: block;
    }
  }
}

.secondary_menu_wrapper {
  display: flex;
  align-items: center;
  color: $ctvwhite;
  position: relative;
  & > * {
    padding: 0.5em;
  }
  & .toggle_largeScreens {
    padding: 0.25em;
    cursor: pointer;
  }
  & .logo_lang {
    width: 44px;
    height: 44px;
  }
}

.site-brand-header {
  line-height: normal;
  padding: 1em 0.5em;
  color: $ctvwhite;
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
  @media (max-width: 960px) {
    font-size: 70%;
  }
  & .company-name {
    font-size: 1.5em;
  }
}

.site-slogan-mobile {
  text-align: center;
  font-size: 0.9em;
  line-height: normal;
  & .company-name {
    font-weight: bold;
  }
}

.subtext {
  color: #6bb3e3;
}

.toggle {
  width: 1em;
  text-align: center;
  cursor: pointer;
}

.weather-widget {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
  }
}
