.flex-column {
  & .view-content {
    flex-direction: column;
    & .views-row {
      margin: 0em;
    }
  }
}

.m0 {
  margin: 0!important;
}

.mt0 {
  margin-top: 0em!important;
}

.p0 {
  padding: 0!important;
}

.title-bold {
  & .views-field-title {
    font-weight: bold;
  }
}
